* {
	font-family: "Courier New", monospace;
	font-size: 20px;

	/*"courier new" becomes the default font for our elements. 
	monospace is the secondary font or the fallback font
	
	font-family allows to determine the font of the text
	
	font-size property allows us to change the size of the font

	*/
}	

html {
	/*scroll behavior changes the scrolling when navigating
	*/
	scroll-behavior: smooth;

}

body {
	/*background-color:  changes the color of the background*/
	background-color:  skyblue;

}

nav {
	background-color: white;
}

/*selector:  hover pseudo class*/
/*change the style of an element when hovering*/
a:hover {
	background-color: red;
}

nav > div {
	/*display:  inline-block allowed to change the display of the div
	element from block to inline block, which means this
	div is now inline with its siblings however still act like a block element*/
	display: inline-block;
	float: right;
	/*float: right; we were able to change the horizontal alignment
	of our element and put it to the right of our container.*/


}
/*type/tag selector - allows us to select elements of the type or tag*/

/*!important will make the property a priority*/

/*css syntax

css rule-set
		selector {

		

		property:  value;

				}*/

/*-universal selector is able to select all the elements page



*/
h1 {
	color:  blue !important;
	background-color: black !important;
	font-size:  2rem; /* 2x root-element-font-size*/
		text-align: center;
	/*rem - root element, rem is measurement based
	 on the font size of the root element. (default font size 16px)



	*/

	/*id-selector allows us to select the element with a particular selector
		this selector is the highest priority
		(starts with #)
	*/

	/*class selector stars with (.)*/


}

section {
	/*increased the height of our sections
	to 100% viewport height.

	viewport height is the height of the page with
	the screen we are viewing from
	*/
	height:  100vh;
	text-align: center;
	/*allows us to horizontally align our text within the element*/
}

#zuitt-motto {
	letter-spacing:  5px;
	font-size: 30px;
}

h3{
	font-size:  50px;
}

.offering-item{
	text-transform: uppercase;
	font-size :50px;
}

li {
	text-transform:  lowercase;
	/*letter-spacing:  20px; */
}
	/*attribute slector allows to 
	sleect elements with the same tag and attribute*/

	/*tag[attribute]*/


input[required][autocomplete]{
	/*
	border-width property allows us to change the
	thickness of element's border

	border-style property allows us to change the style of the 
	border

	border-color property allows us to change the 
	color of an element border
	*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;


border-width: 2px;
border-style: solid;
border-color: navy;
/*the width of the input if now 90% of the parent elements*/
width: 90%;


}

/*adjacent sibling selector. this allows us to select
the sibling element directly after the first selector
		
		first selector + adjacent sibling

		the selectors doesnt have to be type it could be a class, id etc.


 */
h3 + img {
	/*
	height and width properties allows us to determine the height
	and width of an element. unlike the height and width
	attributes in our html, in css we can add more measurement
	instead of just pixels

	border-radius allows us to round the corners of an element.
	*/
	height: 300px;
	width : 300px;
	border-radius: 150px;
}


	/*
	descendant selector

	allows us to select elements which are descendants
	of the first selector

	first selector (ancestor) <space> second selector (descendant)
	*/

#bootcamp-learning-list li {
	/*#075966 As a value of color (hex value)/*/
	color: #075966;
}
 	/*general sibling selector - this will allow us to select
 	siblings after our first selector

	selector ~ selector


 */


h2 ~ a {
	/*text-decoration property allows us to change lines
	included in text (overlines/underlines/strikethrough) by devault
	anchor tags have underline*/
	text-decoration: none;
}

h2 {
	font-size: 1.5rem;
}


	/*
		child selector
		allows us to select the child of an element
		selector (parent) > selector (child)

	*/

body > section > form > label > {
	/*rgb() can be accepted as a value of properties
	that change colors RGB values refer to the colors red green and blue
	and the combination of these values from 0 to 255 determines
	the color
	*/
	color: rgb(0,0,128);

}

ol {
	/*removes the list style from our list items
	*/
	list-style-type: none;
	}

form {
	text-align: center;
	background-color: white;
	/*border ez border hax*/
	/*border:  <width> <style> <color>*/
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	/*viewport width is a measurement based on a
	percentage of the width of the screen we are viewing from*/

	/*position property changes the position of an element based on a criteeia*/

	/*position: relative; allows us to add measurement on the left side of the element*/
	/*37.25% from the left of the parent element*/


	position: relative;
	left: 37.25%;
}

button {
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;

}
