* {
	font-family: "Verdana" ,sans-serif;
	font-size: 20px;
}

#p3 {
	color: yellow;
		}

h1 {
	font-size: 3rem;
}

#head2
	{
		text-transform: uppercase;
	}

.language
	{
		background-color: #90EE90;
	}

.tools
	{
		border-color: #72bcd4;
		border-width: 2px;
		border-style: solid;
	}

img + ul
	{
		list-style-type: none;
	}

section img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
} 

ul ~ p
	{
		text-align: center;
		color: black;
	}

section > ul
	{
		letter-spacing: 10px;
	}